.photo-preview
  img(src=locals.thumbnailUri)
  a(href="/photo/#{_id}" class="overlay")
    .photo-info
      p= _id
      p= locals.album
      p= locals.description
      p= locals.folder
      p= locals.tags
