.photo-preview
  .photo-preview-info
    img(src=locals.thumbnailUri)
    a(href="/photo/#{_id}" class="overlay")
      .photo-info
        p
          span= locals.album
          br
          span= locals.folder
          br
          span= locals.tags
